/***** Page Styles *****/
html, 
body {
  height: 100%;
}

/***** Nav Bar Styles *****/
.navbar {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.color-nav{
    color: black;
}

.titulo-size{
    font-size: 800%;
}

.subtitulo-size{
    font-size: 250%;
    letter-spacing: 10px;
}

.navbar i {
  padding-right: 5px;
}

/***** Home Page Styles *****/
#home {
  height: 100%; 
  background: url('http://washmecarwashes.co/files/2014/04/DL_large3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#main-banner {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: GhostWhite;
  font-family: 'Viga', sans-serif;
  text-shadow: 1px 1px Black;
  letter-spacing: 15px;
}

#main-banner h1 {
  font-weight: normal;
}

.glyphicon-link {
  font-size: 2em;
  color: Silver;
  text-shadow: 1px 1px Black;
}

/***** About Page Styles *****/
#trabajo {
   height: 120%; 
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #7c9acc;
}

#servicios h1,
#trabajo h1,
#contact h1 {
  color: GhostWhite;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px Black;  
  margin-top: 40px;
}

#trabajo p {
  color: GhostWhite;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px Black;
  font-size: 1.2em;
}

#trabajo-content {
  margin-top: 50px;
}

#about-content2{
  margin-top: 100px;
}

img {
  width: 100px;
  height: 100px;
}

.row2{
  margin-top: 150px;
}

/***** Portfolio Page Styles *****/
#servicios {
  height: 100%; 
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BY8x1xp/luxury-car-wash-service-person-cleaning-auto-with-soap-sponge-transport_s3ercvvif__F0000.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#servicios-content {
  margin-top: 50px;
  justify-content: space-around;
  


}

#servicios p {
  color: GhostWhite;
  font-family: 'Roboto', sans-serif;
}

/***** Contact Page Styles *****/
#contact {
  height: 40%; 
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(147, 183, 196);
}

#contact-social-buttons i {
  font-size: 6em;
  color:white;
  text-shadow: 1px 1px Black;
  margin-top: 100px; 
}


.boton-size{
  height: 50px;
  width: 250px;
  font-size: 25px;
  margin-top: 100px;
  background-color: #d9d9d9;
  color: black;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0px 0px 50px black;
  font-family: "Roboto", sans-serif;
}

.input-carros{
  height: 180px;
  width: 220px;
  
  
} 


 /* .input-carros:focus{
   filter: invert(100%)
 } */

 .transbox{
  margin: 30px;
  background-color: #a8d5e2;
  border: 1px solid black;
  opacity: .8;
  filter: alpha(opacity=60);
  height: 80%;
 }
 
 
 .caja-serv{
  color: rgb(26, 26, 26);
 
 }

 label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

 